<h1 mat-dialog-title>Usuwanie elementu słownika:</h1>
<div mat-dialog-content [style.height.px]=200>
  <mat-form-field appearance="fill" [style.width.px]=360>
    <mat-label>Klucz</mat-label>
    <input matInput [(ngModel)]="data.key" disabled>
  </mat-form-field>
  <mat-form-field appearance="fill" [style.width.px]=360>
    <mat-label>Wartość</mat-label>
    <input matInput [(ngModel)]="data.value" disabled>
  </mat-form-field>
  <br>
  <mat-checkbox color="primary" [(ngModel)]="data.active" labelPosition="before" disabled="true">Aktywny: </mat-checkbox>
</div>
<span style="font-family: 'Serif'; font-style: italic;">Usuniętych wartości nie da się przywrócić, potwierdź jeśli jesteś pewien że Twoja decyzja jest słuszna.</span>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" [mat-dialog-close]="data" cdkFocusInitial>Potwierdź</button>
  <button mat-raised-button color="primary" (click)="onNoClick()">Anuluj</button>
</div>
