<h1 mat-dialog-title>Edytowanie elementu słownika:</h1>
<div mat-dialog-content [style.height.px]=200>
  <mat-form-field appearance="fill" [style.width.px]=360>
    <mat-label>Klucz</mat-label>
    <input matInput [(ngModel)]="data.key">
  </mat-form-field>
  <mat-form-field appearance="fill" [style.width.px]=360>
    <mat-label>Wartość</mat-label>
    <input matInput [(ngModel)]="data.value">
  </mat-form-field>
  <br>
  <mat-checkbox color="primary" [(ngModel)]="data.active" labelPosition="before">Aktywny: </mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Zapisz</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Anuluj</button>
</div>
